@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",Helvetica,Arial,  sans-serif;
    list-style: none;
    
    
}

.vermelho{
    color:#C90C0F;
}
.verde{
    color:#2F9E41;
}
.menu{
    position: fixed;
    z-index: 4;
    height: 65px;
    display: flex;
    align-items: center;
        h5{
            color: #2F9E41;
            
        }    
}
.menu-links{
    text-decoration:none ;
    color:black;
    transition: all 0.3s ease; 
}
.menu-links:hover{
    color:#C90C0F;
    padding-left: 10px;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 65px;
    background-color:#D9D9D9;  
    backdrop-filter: blur(20px); 
    background-color: rgba(20, 20, 20, 0.2); 
    position: fixed;
    z-index: 3;
    top:0px;
        .logoAlign{
            display: flex;
            position: absolute;
            justify-content: center;
            width: 100%;   
            
            #logo{
                height: 60px;
            }
        }
}


nav{
    display: flex;
    width: 100%;
    position: sticky;
    z-index: 1;
    top:65px;
    align-items: center;
    justify-content: center;
   

        .navBotoes{
            
            backdrop-filter: blur(7px); 
            background-color: rgba(20, 20, 20, 0.1); 
            padding: 0px 30px;
            border-radius: 0 0  5px 5px;
            z-index: 3;     
        }
        a{
            font-weight: bold;
            font-size:clamp(0.7rem,1.3vw,2.5rem); 
            text-decoration:none ;
            color:#2F9E41; 
        }
       
        ul{
            gap: 20px;
            display: flex;
            margin: 0;
            padding: 0;  
        }
        
}
.navBotoes a:hover{
    color: #C90C0F;
    transition: all 0.3s ease;
}



.secao1{
     
display: block;
justify-content: space-between; 
height: 70rem;
align-items: center;
font-size: 2vw;
transform: translatey(-10%);
    .frase{
        padding: 20% 30%;
        position:absolute;
        text-align: center;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 100%;
        height: 100%;
        
        
        h1{
            
            font-size: 4vw;
            font-weight: bold;    
        }
        
        
    }
    .img1{
        top:3%;
        position: absolute;
        width: 45%;  
        height: auto;
        opacity: 50%; 
        margin-top: 2%;
        z-index: -1;
    }  
    #img2{
        position: absolute;
        width: 50%;  
        height: auto;
        opacity: 50%;
        top:60vh;
        right: 0;
        width: 80%;
        
    }
}

.title{ 
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    
}

.secao2{
  
    display: flex;
    height:33rem;
    justify-content: center;
    background-color: #ECECEC;
    .destaquesGeral{
        margin-top:3%;


    }
    
}

.containerSlide {
    width: 100%;
    height: 20rem;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatey(-13rem) ;
    
   
  }
input[type=radio] {
    display: none;
  }
  
  .card {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
        h5{
            
            font-weight: bold;
        }
       h2{
        font-weight: bold;
        color: #2F9E41;
       }
  }
  
  
  
  .cards {
    position: relative;
    width: 60%;
    height: 100%;
    text-align: center;
    margin-bottom: 20px;
    ul{
        padding: 0;
    }
  }
  .conhecacampi{
 padding-bottom:15%
  }
  .container-cursos{
    display:flex;
    justify-content: center;
  }
  .curso{
    ul{
        padding:2%;
    }
  }

  .imgCarrossel {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    
  }
  textoCarrossel{
    position: absolute;
  }
  
  #item-1:checked ~ .cards #song-3, 
  #item-2:checked ~ .cards #song-1, 
  #item-3:checked ~ .cards #song-2 {
    transform: translatex(-160%) scale(.8);
    
    margin-top: 10%;
    width: 40%;
    opacity:0.4 ;
    z-index: 0;
    position: absolute;
  }
  
  #item-1:checked ~ .cards #song-2, 
  #item-2:checked ~ .cards #song-3, 
  #item-3:checked ~ .cards #song-1 {
    transform: translatex(160%) scale(.8);
    margin-top: 10%;
    width: 40%;
    opacity: .4;
    z-index: 0;
    position: absolute;
  }
  
  #item-1:checked ~ .cards #song-1, 
  #item-2:checked ~ .cards #song-2, 
  #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    position: absolute;
    width: 50rem;
    
    img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
  
  }
.secao3{  
  margin-top: 20rem;
  height: 70rem;
  
  h1{
    margin-bottom: 10%;
    
  }
  .suporte{
    
      align-items: center;
      justify-content: center;
      display: flex;
      height: 40rem;
      width: 100%;
  .esquerda,.direita{
      width: 100%;
      font-size:1.2rem;
          h2{
              font-size: 2rem;
              color: green;
            font-weight: bold;
              
          }
      
  }
  .linha{
      background-color: black;
      width: 4px;
      height: 45rem;
      
  }
  .esquerda{

      display: flex;
      justify-content: right;
      text-align: right;
      div{
          
          animation-duration: 1s;
          padding:0 10% 0 20%;
          
      }
  }
  .direita{
      div{
          align-items: center;
          height: 50%;
          
          animation-duration: 1s;
          padding:20% 20% 20% 10%;
      }
  }
  }
}
.animacao3{
    animation: fadeInRight;

}
.secao4{
    
    height: 40rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
        h4{
            color:#2F9E41;
            font-weight: bold;
        }
        .tecnico,.sup{
            display: flex;
        }
        .card{
            margin: 30px ;
            cursor: default; 
        }
        .sup{
            justify-content: center;
        }
        
}   
.mais-noticias{
    padding:1%;
    margin-bottom: 11rem;
    background-color: #ECECEC;
        button{
            margin: 0 auto;
            display: block;
        }
        a{text-decoration:none;}
}
.botao-centralizado{
    padding:1%;
    margin-top: 2.5rem;
        button{
            margin: 0 auto;
            display: block;
        }
    a{text-decoration:none;}
}
#barranav{
    transition: top 0.3s;
}
.botaoVoltar{
    
    display: flex;
    justify-content: flex-end;
    position: sticky;
    padding-right: 20px;
    bottom: 20px;
  
    a{
        padding:0  10px;
        color: black;
        cursor: pointer;
        text-decoration: none;
        background-color:#D9D9D9;  
        backdrop-filter: blur(20px); 
        background-color: rgba(20, 20, 20, 0.2); 
        border-radius: 8px;

    }
}
footer{
    background-color:#2F9E41;
    padding: 50px 0;
}
.gptCode{
    height: 150px;
    border-radius: 10px;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
    
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight:400;
    display: block;
    transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
    
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{ 
        font-weight: bolder;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 10%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
    
}

.footer-col .medias-socias a:hover{
    color:#2F9E41;
    background-color: white;
}
.footer-col .ifb-footer{
    width: 100%;
}
.a{
    text-decoration: none;
}

/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}