@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat","Open-sans","Inter";
    list-style: none;
   
    
}

.vermelho{
    color:#C90C0F;
}
.verde{
    color:#2F9E41;
}
.menu{
    position: fixed;
    z-index: 4;
    height: 65px;
    display: flex;
    align-items: center;
        h5{
            color: #2F9E41;
            
        }    
}
.menu-links{
    text-decoration:none ;
    color:black;
    transition: all 0.3s ease; 
}
.menu-links:hover{
    color:#C90C0F;
    padding-left: 10px;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 65px;
    background-color:#D9D9D9;  
    backdrop-filter: blur(20px); 
    background-color: rgba(20, 20, 20, 0.2); 
    position: fixed;
    z-index: 3;
    top:0px;
        .logoAlign{
            display: flex;
            position: absolute;
            justify-content: center;
            width: 100%;   
            
            #logo{
                height: 60px;
            }
        }
           
}


nav{
    display: flex;
    width: 100%;
    position: sticky;
    z-index: 2;
    top:65px;
    align-items: center;
    justify-content: center;
   
        .navBotoes{
            
            backdrop-filter: blur(7px); 
            background-color: rgba(20, 20, 20, 0.1); 
            padding: 0px 30px;
            border-radius: 0 0  5px 5px;
            z-index: 3;     
        }
        a{
            font-weight: bold;
            font-size:clamp(0.7rem,1.3vw,2.5rem); 
            text-decoration:none ;
            color:#2F9E41; 
        }
       
        ul{
            gap: 20px;
            display: flex;
            margin: 0;
            padding: 0;  
        }
        
}
.navBotoes a:hover{
    color: #C90C0F;
    transition: all 0.3s ease;
}



.secao1{
     
display: block;
justify-content: space-between; 
height: auto;
min-height: 35rem;
align-items: center;
margin-top:100px ;


    .frase{
        padding: 8vw 20vw;
        position:absolute;
        text-align: center;
        z-index: 1;
      
        
        h3{
            font-size:clamp(1rem,2vw,3rem);
            padding: 0vw 3vw;
        }
        
        h1{
            font-size:clamp(2rem,3vw,4rem); 
            font-weight: bold;    
        }
        
        
    }
    .img1{
        top:4%;
        position: absolute;
        width: 30%;  
        height: auto;
        opacity: 50%; 
        margin-top: 2%;
        z-index: -1;
    }  
    #img2{
        position: absolute;
        
        height: auto;
        opacity: 50%;
        top:55%;
        right: 0;
        width: 45%;
        
    }
    @media screen and (max-width:1050px){
        .img1{
            top:10%;
           
        }
        .secao1{
            height: 10rem;
        }
        
    }
    @media screen and (max-width:700px){
        .img1{
            top:10%;
           
        }          
        .frase{ 
            padding: 8vw 10vw;
        }
    }

}

.title{ 
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    
}

.secao2{
    display: flex;
    justify-content: center;
    background-color: #ECECEC;
    .destaquesGeral{
        padding: 20px;
          
    }
    
}

.secaoCampus{
    
    justify-content: center;
    align-items: center;

    .main_box {
        width: 100%;
        height: 60vh;
        display: flex;
        background-color: black;
        
    }
    
    .img {
        filter: brightness(50%) contrast(120%);
        flex: 1;
        height: 100%;
        transition: all .3s;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        
        
    }
    .infoCampus {
        
        position: absolute;
        bottom: 0;
        left: 0;
        padding:.20em .75em;
        color:white; 
        font-weight: bold;
        background-color:#2F9E41;  
        border-radius: 0 0  5px 5px;
        transform: rotate(-90deg);
        transform-origin: 0% 0%;
        transition: all 0.3s;
        white-space: nowrap;
        
    }
    button,svg{
        display: none;
        
        
    }
    button{
        display: flex;
        border:none;
    }
    .card{
        
        width: 100%; 
        height: 100%;
        background-color: transparent;
         border:none;
    }
    .collapse{
        width: 100%;
        height:300px;
        
    }
    iframe{
        display: none;
        height: 100%;
        width: 100%;
    }
   
    .img1 {
        
        background-image:url(
    img/imgs-campus/C-Brasilia.jpg);
        
    }
    
    .img2 {
        background-image: url(
    img/imgs-campus/C-Ceilandia.jpg);
    }
    
    .img3 {
        background-image: url(
            img/imgs-campus/C-Estrutural.jpg);
    }
    
    .img4 {
        background-image: url(
            img/imgs-campus/C-Gama.jpg);
    }
    .img5 {
        background-image: url(
            img/imgs-campus/C-Planaltina.jpg);
    }
    .img6 {
        background-image: url(
            img/imgs-campus/C-Recanto.jpg);
    }
    .img7 {
        background-image: url(
            img/imgs-campus/C-riachofundo2.jpg);
    }
    .img8 {
        background-image: url(
            img/imgs-campus/C-Samambaia.jpg);
    }
    .img9 {
        background-image: url(
            img/imgs-campus/C-Sao_sebastiao.jpg);
    }
    .img10 {
        background-image: url(
            img/imgs-campus/C-Taguatinga.jpg);
    }
    
    .main_box:hover .img {
        transform: skew(0);
    }
    
    .img:hover {
        flex: 5;
        filter: none;
        
    }
    
    .img:hover .infoCampus {
        border-radius: 0 5px  0 0;
        filter: none;
        backdrop-filter: blur(30px); 
        
        transform: rotate(0deg);
       
      
    }
    .img:hover svg,button,iframe{
        
        display: block;
    }
    @media screen and (max-width: 1050px) {
        .secaoCampus{
            
        }
        .main_box {
            width: 100%;
            height: auto;
            display: block;
            background-color: black;
            
        }
        
        .img {
            filter: brightness(50%) contrast(120%);
            flex: 1;
            height: 30vh;
            transition: all .3s;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            
            
        }
        .infoCampus {
            font-size:clamp(0.3rem,1.0vw,2.5rem); 
            
            bottom: 0;
            left: 0;
            padding:.20em .75em;
            color:white; 
            font-weight: bold;
            background-color:#2F9E41;  
            border-radius: 0 5px  0 5px;
            transform: rotate(0deg);
            transform-origin: 0% 0%;
            transition: all 0.3s;
           
       
        }
        button,svg{
            display: none;
            
            
        }
        button{
            display: flex;
            border:none;
        }
        .card{
            background-color: #2F9E41;
            align-items: center;
            width: 100%; 
            height: 35vh;
            background-color: transparent;
             border:none;
        }
        .collapse{
            width: 100%;
            height:100%;
            
        }
     iframe{
            
            height: 100%;
            width: 100%;
        }
            
        .img:hover {
            height: 50vh;
            
        }
      } 
}

.secao3{  
  margin-top: 20rem;
  height: 70rem;
  font-size:clamp(0.7rem,1.3vw,2.5rem); 
  h1{
    margin-bottom: 10%;
    
  }
  .suporte{
    
      align-items: center;
      justify-content: center;
      display: flex;
      height: 40rem;
      width: 100%;
  .esquerda,.direita{
      width: 100%;
      
          h2{
              font-size: 2rem;
              color: green;
            font-weight: bold;
              
          }
      
  }
  .linha{
      background-color: black;
      width: 4px;
      height: 45rem;
      
  }
  .esquerda{

      display: flex;
      justify-content: right;
      text-align: right;
      div{
          
          animation-duration: 1s;
          padding:0 10% 0 20%;
          
      }
  }
  .direita{
      div{
          align-items: center;
          height: 50%;
          
          animation-duration: 1s;
          padding:20% 20% 20% 10%;
      }
  }
  }
}
.animacao3{
    animation: fadeInRight;

}
.secao4{
    
    margin-top:20vh ;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    
   
    
    
        h4{
            color:#2F9E41;
            font-weight: bold;
            
        }
        .tecnicoSuperior{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .card{
            margin: 30px ;
            cursor: default; 
            
            
        }  
}
@media (max-width: 1050px) {
    .card {
      width: 100%;
    }
  }   
.mais-noticias{
    padding:1%;
    margin-bottom: 11rem;

    background-color: #ECECEC;
        button{
            margin: 0 auto;
            display: block;
        }
        a{text-decoration:none;}
}
.botao-centralizado{
    padding:1%;
    margin-top: 2.5rem;
        button{
            margin: 0 auto;
            display: block;
        }
    a{text-decoration:none;}
}
#barranav{
    transition: top 0.3s;
}
.botaoVoltar{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    padding-right: 10px;
    bottom: 10px;
    
    a{
        padding:0  10px;
        color: black;
        cursor: pointer;
        text-decoration: none;
        background-color:#D9D9D9;  
        backdrop-filter: blur(20px); 
        background-color: rgba(20, 20, 20, 0.2); 
        border-radius: 8px;

    }
}
footer{
    background-color:#2F9E41;
    padding: 50px 0;
    
    

    
}
.gptCode{
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
    
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight:400;
    display: block;
    transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
    
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{ 
        font-weight: bolder;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 10%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
    
}

.footer-col .medias-socias a:hover{
    color:#2F9E41;
    background-color: white;
}
.footer-col .ifb-footer{
    width: 100%;
}
.a{
    text-decoration: none;
}

/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}