@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",Helvetica,Arial,  sans-serif;
    list-style: none;
}
.vermelho{
    color:#C90C0F;
}
.verde{
    color:#2F9E41;
}
.menu{
    position: fixed;
    z-index: 4;
    height: 65px;
    display: flex;
    align-items: center;
        h5{
            color: #2F9E41;
            
        }    
}
.menu-links{
    text-decoration:none;
    color:black;
    transition: all 0.3s ease; 
}
.menu-links:hover{
    color:#C90C0F;
    padding-left: 10px;
    
}
header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 65px;
    background-color:#D9D9D9;  
    backdrop-filter: blur(20px); /* Aplica o desfoque ao fundo */
    background-color: rgba(20, 20, 20, 0.2); /* Cor semi-transparente */
    position: sticky;
    z-index: 2;
    top:0px;
        #logoAlign{
            display: flex;
            position: absolute;
            justify-content: center;
            width: 100%;   
            
            #logo{
                
                height: 60px;
            }
        }
}  

nav{
    display: flex;
    width: 100%;
    position: sticky;
    z-index: 3;
    top:65px;
    align-items: center;
    justify-content: center;
   

        .navBotoes{
            
            backdrop-filter: blur(7px); 
            background-color: rgba(20, 20, 20, 0.1); 
            padding: 0px 30px;
            border-radius: 0 0  5px 5px;
            z-index: 3;     
        }
        a{
            font-weight: bold;
            font-size:1.3vw;
            text-decoration:none ;
            color:#2F9E41; 
        }
       
        ul{
            gap: 20px;
            display: flex;
            margin: 0;
            padding: 0;  
        }
        
}




.secao1-pagina-posts{
    display: block;
    justify-content: space-between; 
    height: 20rem;
    align-items: center;
    font-size: 2rem;
    transform: translatey(-10%);
        .frase{
            padding: 10%; 
            position:absolute;
            text-align: center;
            align-items: center;
            margin-top: -6%;
            left:50%;
            transform: translateX(-50%);
            
            width: 50%;
            max-height: 50%;
            
            h1{
                
                font-size: 4rem;
                font-weight: bold;    
            }  
        }
    }
    #img1{
        top:10%;
        width: 45%;  
        opacity: 50%; 
        z-index: 2;
        position: absolute;
    }  

    .spacer{
        position:absolute;
        display: flex;
        height:4rem;
        width: 100%;
        justify-content: center;
        background-color: #ECECEC;
        z-index: 1;
    }

    .secao2-pagina-posts{
        display: flex;

        justify-content: center;
        background-color: #ECECEC;
        .lista-postagens{
            margin-top:3%;
            width:100%;
            display: grid;
            gap:20px;
            padding:1%
            /* justify-content:space-around; */
        }
        
    }
    .imagem-postagem-grande{
        width: 30%;
        height: auto;
        margin-bottom: 20px;
        display: block;
        margin-left: 5%;
        margin-right: auto;
        border-radius: 5px;
        padding-top:1%;
      }
    .secao1-postagem{
        display: block;
        justify-content: space-between; 
        height: 33rem;
        align-items: center;
        font-size: 2rem;
        transform: translatey(-10%);
            .frase{
                padding: 10%; 
                position:absolute;
                text-align: center;
                justify-content: center;
                left:30%;
                transform: translateX(-50%);
                z-index: 2;
                width: 70%;
                max-height: 50%;
                
                h1{
                    
                    font-size: 4rem;
                    font-weight: bold;    
                }  
            }
            #img-post{
                top:10%;
                position: absolute;
                width: 50%;  
                opacity: 100%; 
                margin-top: 5%;
                z-index: 1;
                transform: translateX(150%);
            }
            #img1{
                top:10%;
                position: absolute;
                width: 45%;  
                opacity: 30%; 
                margin-top: 1%;
                z-index: -1;
                
            }  
        }
        .imagem-postagem-grande{
            width: 30%;
            height: auto;
            margin-bottom: 20px;
            display: block;
            margin-left: 5%;
            margin-right: auto;
            border-radius: 5px;
            padding-top:1%;
          }
        .secao1-postagem{
            display: block;
            justify-content: space-between; 
            height: 33rem;
            align-items: center;
            font-size: 2rem;
            transform: translatey(-10%);
                .frase{
                    padding: 10%; 
                    position:absolute;
                    text-align: center;
                    justify-content: center;
                    left:30%;
                    transform: translateX(-50%);
                    z-index: 2;
                    width: 70%;
                    max-height: 50%;
                    
                    h1{
                        
                        font-size: 4rem;
                        font-weight: bold;    
                    }  
                }
                #img-post{
                    top:10%;
                    position: absolute;
                    width: 50%;  
                    opacity: 100%; 
                    margin-top: 5%;
                    z-index: 1;
                    transform: translateX(150%);
                }
                #img1{
                    top:10%;
                    position: absolute;
                    width: 45%;  
                    opacity: 30%; 
                    margin-top: 1%;
                    z-index: 2;
                    
                }  
            }
    .botao-voltar{
        padding:1%;
        background-color: #ECECEC;
            button{
                margin: 0 auto;
                display: block;
            }
    }
    #barranav{
        transition: top 0.1s;
    }
    footer{
        background-color:#2F9E41;
        padding: 50px 0;
    }
    .gptCode{
        height: 150px;
    }
    .container-footer{
        max-width: 1400px;
        padding: 0 4%;
        margin: auto;
    }
    .row-footer{
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer-col{
        width: 25%;
        padding: 0 15px;
    }
    .footer-col h4{
        font-size: 22px;
        color: white;
        margin-bottom: 20px;
        font-weight: 500;
        position: relative;
        text-transform: uppercase;
    }
    .footer-col ul{
        list-style: none;
        
    }
    .footer-col ul li{
        margin: 10px 0;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: white;
        text-decoration: none;
        font-weight:400;
        display: block;
        transition: all 0.3s ease;
    
    }
    .footer-col ul li a:hover{
        color: #cecdcd;
        padding-left: 10px;
        
    }
    .footer-col .medias-socias{
        margin-top: 30px;
    }
    .footer-col .medias-socias a{ 
            font-weight: bolder;
    
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        margin: 0 10px 10px 0;
        text-decoration: none;
        border-radius: 10%;
        color: white;
        border: 1px solid white;
        transition: all 0.5s ease;
    }
    .footer-col .medias-socias a i{
        font-size: 20px;
        
    }
    
    .footer-col .medias-socias a:hover{
        color:#2F9E41;
        background-color: white;
    }
    .footer-col .ifb-footer{
        width: 100%;
    }
    
    /* Responsivo */
    @media (max-width: 800px) {
        .footer-col{
            width: 50%;
            margin-bottom: 30px;
        }
    }
    @media (max-width:600px) {
        .footer-col{
            width: 100%;
        }
    }
    .botaoVoltar{
    
        display: flex;
        justify-content: flex-end;
        position: sticky;
        padding-right: 20px;
        bottom: 20px;
      
        a{
            padding:0  10px;
            color: black;
            cursor: pointer;
            text-decoration: none;
            background-color:#D9D9D9;  
            backdrop-filter: blur(20px); 
            background-color: rgba(20, 20, 20, 0.2); 
            border-radius: 8px;
    
        }
    }